html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f5;
    line-height: 1.65;
    padding-bottom: 50px;
}

.container-satu {
    width: 90%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kolom-utama {
    flex-basis: 55%; 
    margin-right: 20px;
}

.sidebar-satu, .sidebar-dua {
    flex-basis: 20%; 
    background-color: #ffebcc; 
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px; 
}

.sidebar-satu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-satu ul li {
    margin: 10px 0;
}

.sidebar-satu ul li a {
    text-decoration: none;
    color: #ff6f61; 
    font-weight: bold;
}

.sidebar-satu ul li a:hover {
    color: #ff4500; 
}

.sidebar-dua {
    background-color: #cceeff; 
    color: #005580; 
}

.sidebar-dua p {
    margin: 10px 0;
}
